
.bgcolour1{

    background: #7AAC41 !important;
}

.txtcolour1{

    color: #7AAC41 !important;
}

.bgcolour2{

    background: #800020 !important;
}

.txtcolour2{

    color: #800020 !important;
}

.bgcolour3{

    background: #F2F4F2 !important;
}

a
{
    color: green !important;
} 

.page-item.active .page-link
{
    background: green !important;
    border-color:green !important;
    color:#fff !important;
}
